body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
  ;
    border-radius: 4px;
}

button {
    width: 107%;
    padding: 10px;
    background-color: #007BFF;
 
}



