
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0000CD;
  
}

/* Estiliza o cabeçalho */
header {
    border-top: 5px solid black;
    padding: 10px;
    background-color:black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Mantém o cabeçalho acima de outros elementos */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 50px; /* Ajuste conforme necessário */
}

h1 {
    margin: 20px 0 0 0; /* Ajusta a margem superior para empurrar o h1 para baixo */
}

/* Estiliza a barra lateral */
.sidebar {
    width: 200px;
    position: fixed;
    top: 60px; /* Ajuste para ficar abaixo do cabeçalho */
    left: 0;
    height: calc(100% - 60px); /* Ajusta a altura para não ultrapassar o cabeçalho */
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto; /* Adiciona rolagem se necessário */
}

/* Estiliza a lista de gêneros */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0; /* Ajusta a margem superior para empurrar a lista para baixo */
}

.sidebar ul li {
    padding: 10px 0;
}

/* Estiliza o conteúdo principal */
main {
    margin-left: 220px; /* Deixa espaço para a barra lateral */
    padding: 20px;
    margin-top: 70px; /* Deixa espaço para o cabeçalho */
}

/* Estiliza a galeria de livros */
.book-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaço entre as linhas de livros */
}

.book-row {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espaço entre as imagens dos livros */
}

.book-row figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.book-row img {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    border: 1px solid #ddd; /* Adiciona uma borda sutil em torno das imagens */
    border-radius: 5px; /* Adiciona bordas arredondadas */
}

.book-row figcaption {
    margin-top: 10px;
    font-size: 14px; /* Ajuste conforme necessário */
    text-align: center;
}
