<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/adm.css">
    <title>Painel de Administração</title>
</head>
<body>

<header>
    <h1>Painel de Administração</h1>
</header>

<nav>
    <a href="#">Dashboard</a>
    <a href="#">Usuários</a>
    <a href="#">Configurações</a>
    <a href="#">Relatórios</a>
    <a href="#">Sair</a>
</nav>

<div class="container">
    <div class="sidebar">
        <h3>Menu de Navegação</h3>
        <ul>
            <li><a href="#">Visão Geral</a></li>
            <li><a href="#">Gerenciar Usuários</a></li>
            <li><a href="#">Gerar Relatórios</a></li>
            <li><a href="#">Configurações do Sistema</a></li>
            <li><a href="#">Suporte</a></li>
        </ul>
    </div>
    <div class="content">
        <h2>Bem-vindo ao Painel de Administração</h2>
        <p>Aqui você pode gerenciar todas as funções do sistema.</p>
        <p>Utilize o menu à esquerda para navegar pelas opções disponíveis.</p>

        <!-- Seção Adicionar Livro -->
        <h2>Adicionar Novo Livro</h2>
        <form>
            <label for="bookTitle">Título:</label>
            <input type="text" id="bookTitle" name="bookTitle" required>
            <br>
            <label for="bookAuthor">Autor:</label>
            <input type="text" id="bookAuthor" name="bookAuthor" required>
            <br>
            <label for="bookDescription">Descrição:</label>
            <textarea id="bookDescription" name="bookDescription" rows="4" required></textarea>
            <br>
            <button type="submit">Adicionar Livro</button>
        </form>

        <!-- Seção Excluir Livro -->
        <h2>Excluir Livro</h2>
        <form>
            <label for="bookIdToDelete">ID do Livro:</label>
            <input type="text" id="bookIdToDelete" name="bookIdToDelete" required>
            <br>
            <button type="submit">Excluir Livro</button>
        </form>

        <!-- Seção Editar Livro -->
        <h2>Editar Livro</h2>
        <form>
            <label for="bookIdToEdit">ID do Livro:</label>
            <input type="text" id="bookIdToEdit" name="bookIdToEdit" required>
            <br>
            <label for="newBookTitle">Novo Título:</label>
            <input type="text" id="newBookTitle" name="newBookTitle">
            <br>
            <label for="newBookAuthor">Novo Autor:</label>
            <input type="text" id="newBookAuthor" name="newBookAuthor">
            <br>
            <label for="newBookDescription">Nova Descrição:</label>
            <textarea id="newBookDescription" name="newBookDescription" rows="4"></textarea>
            <br>
            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
</div>

</body>
</html>
