<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
</head>
<body>
    <h1>Livros Favoritos</h1>

    {% if livros %}
        <ul>
            {% for livro in livros %}
                <li>
                    <a href="{{ url_for('descricao', livro_id=livro.id) }}">{{ livro.titulo }}</a> - {{ livro.autor }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum livro favorito.</p>
    {% endif %}
    
    <a href="/">Voltar à página principal</a>
</body>
</html>
