<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagens Lado a Lado</title>
</head>
<body>
    <div class="container">
        <div>
            <img src="https://i.ibb.co/hRt5xJ7/454080466-487137537397631-1501700173171459828-n.jpg">
            <h1>Julia Gabrieli</h1>
        </div>
        <div>
            <img src="https://i.ibb.co/LQkjTWw/Whats-App-Image-2024-08-15-at-13-57-45.jpg">
            <h1>Mariana</h1>
        </div>
        <div>
            <img src="https://i.ibb.co/SdCyPy7/Whats-App-Image-2024-08-15-at-14-04-36.jpg">
            <h1>Vitória Yasmin</h1>
        </div>
    </div>
    <nav>
    </nav>
</body>
</html>
