<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div>
    </div>
        <form action="login" id= "login" method="post">
        <label for="nome">NOME</label>
        <input type="text" name="nome" id="nome" required placeholder="digite seu nome "><br>
        <label for="senha" id="senha">SENHA</label>
        <input type="password" name="senha" id="senha" required placeholder="digite sua senha">
        <button type="submit" id="btn_login">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>ENTRA
          
        </button>
    </form>
     
    <a href="/cadastro" class="button">faça seu Cadastro</a>

     <div>
</div>

</body>
</html>
