<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Biblioteca</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Minha Biblioteca</h1>
        </div>
    </header>
    <aside class="sidebar">
        <h2>Gêneros</h2>
        <ul>
            <li>Romance</li>
            <li>Ficção Científica</li>
            <li>Fantasia</li>
            <li>Biografia</li>
            <li>História</li>
            <li>Mistério</li>
        </ul>
    </aside>
    <main>
        <div class="book-gallery">
            <div class="book-row">
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro1.jpg') }}" alt="Livro 1">
                    </a>
                    <figcaption>1- A Menina que Roubava Livros</figcaption>
                </figure>
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro2.jpg') }}" alt="Livro 2">
                    </a>
                    <figcaption>2 - A Revolução dos Bichos</figcaption>
                </figure>
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro3.jpg') }}" alt="Livro 3">
                    </a>
                    <figcaption>Cem Anos de Solidão </figcaption>
                </figure>
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro4.jpg') }}" alt="Livro 4">
                    </a>
                    <figcaption>Dom Casmurro</figcaption>
                </figure>
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro5.jpg') }}" alt="Livro 5">
                    </a>
                    <figcaption>George Orwell</figcaption>
                </figure>
            </div>
            <div class="book-row">
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro6.jpg') }}" alt="Livro 6">
                    </a>
                    <figcaption>O Apanhador no Campo de Centeio</figcaption>
                </figure>
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro7.jpg') }}" alt="Livro 7">
                    </a>
                    <figcaption>O Senhor dos Anéis: A Sociedade do Anel</figcaption>
                </figure>
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro8.jpg') }}" alt="Livro 8">
                    </a>
                    <figcaption>O Sol é para Todos</figcaption>
                </figure>
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro9.jpg') }}" alt="Livro 9">
                    </a>
                    <figcaption>O-Pequeno-Principe</figcaption>
                </figure>
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='imagens/livro10.jpg') }}" alt="Livro 10">
                    </a>
                    <figcaption>orgulho e preconceito</figcaption>
                </figure>
         
                    
                <a href="/cadastro" class="button">faça seu Cadastro</a>
                <a href="/login" class="button">faça seu login</a>
            </div>   

        </div>

        

    </main>
</body>
</html>
